/* General styles */
html, body {
  font-family: 'Roboto', sans-serif;
  color: #515151;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  color: #FFBC0D;
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

.center-text {
  text-align: center;
}

.row {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

.header {
  margin-top: 0;
}

.header>* {
  float: left;
}

.ajax-text {
  margin-top: 0;
}

#logo-big {
  width: 60px;
}

#logo-small {
  width: 30px;
}

#slogan {
  max-width: 40%;
  margin: 20px 15px 0;
  font-size: 1.25rem;
  line-height: 1em;
}

#info-icon {
  max-width: 25px;
  float: right;
  margin-top: 20px;
}

#upper-panel {
  padding: 0 12.5vw;
  width: 75%;
}

#upper-panel>.row {
  float: left;
}

#lower-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.lower-wrapper {
  padding: 50px 12.5vw 30px;
}

#lower-content {}

@media only screen and (max-width: 319px) {
  #logo {
    min-width: 30px;
    width: 25%;
  }

  #slogan {
    display: none;
  }
}

button {
  background-color: #DB0007;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  padding: 0 12.5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #FFBC0D;
  border: none;
}

/* Sauce backgrounds */
#mayo-2 {
  background-image: url("../../resources/img/bg_mayo-2.png");
  background-position: top;
}

/* Background burger style */
#burger-container {
  position: absolute;
  top: -110px;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#burger-flags {
  background-image: url("../resources/img/burger@3x.png");
}

#burger-patty {
  background-image: url("../../resources/img/burger_Top-Patty.png");
  background-size: 120vw;
}

.flag {
  width: 50px;
  position: absolute;
}

/* Positioning each flag */
#flag-US {
  left: 13%;
  top: 2%;
}

#flag-ME {
  left: 17%;
  top: 20%;
}

#flag-IT {
  left: 45%;
  top: 0;
}

#flag-ZA {
  left: 45%;
  top: 25%;
}

#flag-IN {
  left: 60%;
  top: 13%;
}

#flag-AU {
  left: 80%;
  top: 22%;
}

.macro-view {
  height: 100%;
}

.micro-view {
  height: 140vh;
  top: -270px;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

/* Style canvas for burger painting, not possible to do it responsively */
#canvas-wrapper {
  position: relative;
  margin-bottom: 30px;
}

canvas {
  display: block;
  border: 5px dashed #00000030;
  border-radius: 15px;
}

#clear-canvas_button {
  position: absolute;
  top: 60px;
  right: 15px;
  width: 18px;
}

#painting-instructions {
  margin: 0;
}