/* General styles */
html, body {
  font-family: 'Roboto', sans-serif;
  color: #515151;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  color: #FFBC0D;
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

a {
  color: #FFBC0D;
}

.center-text {
  text-align: center;
}

.row {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

.header {
  margin-top: 0;
}

.header>* {
  float: left;
}

.ajax-text {
  margin-top: 0;
}

#logo-big {
  width: 60px;
}

#logo-small {
  width: 30px;
}

#slogan {
  max-width: 40%;
  margin: 20px 15px 0;
  font-size: 1.25rem;
  line-height: 1em;
}

#info-icon {
  max-width: 25px;
  float: right;
  margin-top: 20px;
}

#upper-panel {
  padding: 0 12.5vw;
  width: 75%;
  position: relative;
  z-index: 999;
}

#upper-panel>.row {
  float: left;
}

#lower-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 200px;
  z-index: 1;
}

.lower-wrapper {
  padding: 50px 12.5vw 40px;
}

#lower-content {}

@media only screen and (max-width: 319px) {
  #logo {
    min-width: 30px;
    width: 25%;
  }

  #slogan {
    display: none;
  }
}

button {
  background-color: #DB0007;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  padding: 0 12.5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #FFBC0D;
  border: none;
  margin-top: 30px;
}

/* info text background */
#info-text {
  width: 100%;
  color: whitesmoke;
}

#info-links {
  padding-top: 60px;
}

/* Background burger style */
#burger-container {
  height: 380px;
  bottom: 0;
}

/* General background rules */
.background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -999;
}

.background-image {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

/* Sauce backgrounds */
#mayo-1 {
  background-image: url("../resources/img/bg_mayo-1.png");
}

#mayo-2 {
  background-image: url("../resources/img/bg_mayo-2.png");
}

#ketchup {
  background-image: url("../resources/img/bg_ketchup-1.png");
}

#mayo-3 {
  background-image: url("../resources/img/bg_mayo-3.png");
}


#mayo-4 {
  background-image: url("../resources/img/bg_mayo-3.png");
}

#burger-flags {
  background-image: url("../resources/img/burger@3x.png");
  background-size: 110%;
}

#burger-patty {
  background-image: url("../resources/img/burger_Top-Patty.png");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-size: 190%;
  position: relative;
  height: 280px;
  top: 0px;
  z-index: 1;
}

#middle-bun {
  background-image: url("../resources/img/burger_Middle-Bun.png");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-size: 190%;
  position: relative;
  height: 370px;
  top:-100px;
  z-index: 0;
}

#bottom-bun {
  background-image: url("../resources/img/burger_Bottom-Bun.png");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-size: 190%;
  position: relative;
  height: 300px;
  top:-150px;
  z-index: -1;    
}

.burger-layer{
    margin: 0;
   padding: 0;S
}
 

@keyframes micro-view-animation {
  from {
    transform: scale(1);
     transform: scale(100%);
  }

  to {
    transform: scale(1.8);
    transform: scale(180%);
  }
}


.micro-view {
  -webkit-animation: micro-view-animation .5s ease-in forwards;
  animation: micro-view-animation .5s ease-in-out forwards;
}

.flag {
  width: 50px;
  position: absolute;
}

/* Positioning each flag */
#flag-US {
  left: 13%;
  top: 2%;
}

#flag-ME {
  left: 17%;
  top: 20%;
}

#flag-IT {
  left: 45%;
  top: 0;
}

#flag-ZA {
  left: 45%;
  top: 25%;
}

#flag-IN {
  left: 60%;
  top: 13%;
}

#flag-AU {
  left: 80%;
  top: 22%;
}

/* Style canvas for burger painting, not possible to do it responsively */
#canvas-wrapper {
  position: relative;
}

canvas {
  display: block;
  border: 5px dashed #00000030;
  border-radius: 15px;
}

#clear-canvas_button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 18px;
}

#painting-instructions {
  margin: 0;
  margin-top: 30px;
  height: 40px;
}