/* General styles */
html, body {
  font-family: 'Roboto', sans-serif;
  color: #515151;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  color: #FFBC0D;
}

a {
   color: #FFBC0D; 
}

#upper-panel {
  padding: 0 12.5%;
  width: 75%;
}

#upper-panel>.row {
  float: left;
}

/* Lower panel style */
#lower-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70vh;
}

#lower-content {}

.row {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

.header {
  margin-top: 0;
}

.header>* {
  float: left;
}

.ajax-text {
  margin-top: 0;
}

#logo {
  width: 60px;
}

#slogan {
  max-width: 40%;
  margin: 20px 15px 0;
  font-size: 1.25rem;
  line-height: 1em;
}

#info-icon {
  max-width: 25px;
  float: right;
  margin-top: 20px;
  }

@media only screen and (max-width: 319px) {
  #logo {
    min-width: 30px;
    width: 25%;
  }

  #slogan {
    display: none;
  }
}

button {
  background-color: #DB0007;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  padding: 0 12.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #FFBC0D;
  border: none;
}

/* info text background */
#info-text {
  background-image: url("../resources/img/bg_ketchup-1.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 390px;
  padding: 60px 25px;
  color:  whitesmoke; 
}

#info-links{
  position: absolute;
  bottom: 0;
}

/* info contract background */
.contract {
background-image: url("../resources/img/bg_mayo-2.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size:contain;
  position: absolute;
  left: 0;
  z-index: 1;
padding: 20px;
    
}


/* Background burger style */
#burger-container {
  position: absolute;
}

#burger-flags {
  background-image: url("../resources/img/burger@3x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.flag {
  width: 50px;
  position: absolute;
}

/* Positioning each flag */
#flag-US {
  left: 13%;
  top: 2%;
}

#flag-ME {
  left: 17%;
  top: 20%;
}

#flag-IT {
  left: 45%;
  top: 0;
}

#flag-ZA {
  left: 45%;
  top: 25%;
}

#flag-IN {
  left: 60%;
  top: 13%;
}

#flag-AU {
  left: 80%;
  top: 22%;
}

.macro-view {
  height: 100%;
}

.micro-view {
  height: 140vh;
  top: -270px;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

/* Style canvas for burger painting, not possible to do it responsively */
#canvas-wrapper {
  width: 240px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 5px dashed #00000030;
  border-radius: 15px;
}

#clear-canvas_button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
}